<!-- views/results.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Result List</title>
    </head>
    <body>
        <h1>Result List</h1>
        <ul>
            <% results.forEach(result => { %>
            <li><a href="/results/<%= result._id %>"><%= result.company %></a></li>
            <% }); %>
        </ul>
        <p><a href="/results/add">Add New Result</a></p>
    </body>
</html>
